*,
html,
body {
  margin: 0;
  padding: 0; }

header {
  background-color: #333333;
  position: fixed;
  width: 100vw;
  height: 50px;
  margin-top: 0px; }
  header nav {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100vw; }
    header nav button {
      display: none; }
      header nav button:focus {
        outline: none; }
  header a {
    cursor: pointer;
    color: white;
    margin-right: 3%;
    text-transform: uppercase;
    font-size: 16px; }
    header a:hover {
      text-decoration: none; }

.drop-menu {
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;
  display: none; }

.drop-menu-active {
  display: block; }

main {
  padding-top: 50px;
  text-align: center; }

.representation {
  color: white;
  background-image: url("../images/background.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.my-name {
  font-size: 80px;
  text-transform: uppercase; }

.icons {
  border-top: 2px solid white;
  margin-top: 50px; }

.fab {
  color: white;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 50px; }

.about-me {
  display: flex;
  flex-direction: row;
  background-color: #2B2B2B; }
  .about-me h1 {
    color: white;
    font-size: 25px; }
  .about-me p {
    color: #7A7A7A; }
  .about-me .photo {
    width: 30%; }
  .about-me .information {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left; }
    .about-me .information .about {
      margin: 50px 0px 50px 0px; }
    .about-me .information .contact {
      display: flex;
      flex-direction: row;
      text-align: left;
      margin-bottom: 50px; }
      .about-me .information .contact .details {
        width: 20%; }
      .about-me .information .contact .download_resume {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .about-me .information .contact .download_resume button {
          width: 200px; }
          .about-me .information .contact .download_resume button a {
            color: white; }
            .about-me .information .contact .download_resume button a:hover {
              text-decoration: none; }

.section-education {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.education {
  display: flex;
  flex-direction: column; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.styledH1 {
  min-width: 220px;
  height: 50px;
  text-transform: uppercase;
  margin-right: 5%;
  border-bottom: 2px solid green; }

.skills {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .skills h1 {
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 5%;
    border-bottom: 2px solid #11ABB0;
    width: 200px; }

.progresBar {
  width: 35vw;
  height: 20px;
  line-height: 20px;
  border: 2px solid #242424;
  box-sizing: border-box; }

.additional {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .additional h1 {
    display: inline;
    height: 55px; }

.work {
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #EBEEEE;
  justify-content: center; }

.work-examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto; }
  .work-examples div {
    border: 2px solid grey;
    margin: 20px; }
    .work-examples div:hover {
      border: 2px solid #414AFF;
      cursor: pointer; }

.work-examples div img {
  width: 391px;
  height: 321px; }

footer {
  background-color: #0F0F0F; }

.toTop {
  position: relative;
  bottom: 35px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer; }
  .toTop:hover {
    border: 3px solid black; }

.progress {
  width: 0%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #7D7D7D;
  border-radius: 0;
  transition: 2s linear;
  transition-property: width; }

.icons-footer {
  position: relative;
  bottom: 50px;
  height: 60px; }

@media screen and (max-width: 992px) {
  .my-name {
    font-size: 60px; } }

@media screen and (max-width: 425px) {
  .my-name {
    font-size: 50px; } }

@media screen and (max-width: 355px) {
  .my-name {
    font-size: 40px; } }

@media screen and (max-width: 992px) {
  .representation p {
    padding: 0px 10px;
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  header nav a {
    display: none; } }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end; } }

@media screen and (max-width: 768px) {
  header .drop-menu {
    position: absolute;
    top: 50px;
    border: 2px solid #858585;
    box-sizing: border-box; } }

header .drop-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #1F2024; }
  header .drop-menu ul li {
    list-style-type: none;
    border-bottom: 1px solid #858585; }
    header .drop-menu ul li a {
      color: white; }

@media screen and (max-width: 768px) {
  header nav {
    justify-content: flex-end; } }

@media screen and (max-width: 768px) {
  header nav button {
    display: block;
    color: white;
    background-color: #333333;
    border: none;
    margin-right: 5%; } }

@media screen and (max-width: 768px) {
  .about-me {
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .about-me p {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .about-me h1 {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .about {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 768px) {
  .contact {
    width: 100vw;
    flex-direction: column !important; } }

@media screen and (max-width: 768px) {
  .details {
    width: 100vw !important; } }

@media screen and (max-width: 425px) {
  .download_resume button {
    width: 100vw !important; } }

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .styledH1 {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-size: 30px; } }

@media screen and (max-width: 995px) {
  .certificate {
    width: 99vw; } }

@media screen and (max-width: 768px) {
  .cursor h1 {
    font-size: 30px; } }

@media screen and (max-width: 768px) {
  .skills {
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .skills h1 {
    font-size: 30px;
    height: 50px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px; } }

@media screen and (max-width: 768px) {
  .progresBar {
    margin: 0 auto;
    width: 90vw; } }

@media screen and (max-width: 768px) {
  .additional h1 {
    font-size: 30px; } }

@media screen and (max-width: 768px) {
  .additional-skills {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px; } }

@media screen and (max-width: 401px) {
  .work-examples div {
    width: 98vw;
    height: 84.6547314578vw;
    box-sizing: border-box; } }

@media screen and (max-width: 401px) {
  .work-examples div img {
    box-sizing: border-box;
    width: 98vw;
    height: 84.6547314578vw; } }

@media screen and (max-width: 375px) {
  .toTop {
    width: 60px;
    height: 60px;
    bottom: 30px; } }

@media screen and (max-width: 320px) {
  .toTop {
    width: 50px;
    height: 50px;
    bottom: 25px; } }
