<div class="fifth-slide__right-side">
    <h4>Заповніть особисті дані, щоб отримати консультацію</h4>
    <div class="line-wrapper">
        <div class="line--grey"></div>
        <div class="line--pink"></div>
        <div class="line--grey"></div>
    </div>
    <form>
        <div class="name-lastname">
            <div class="name">
                <p>Ім'я:</p>
                <input type="text">
            </div>
            <div class="lastname">
                <p>Прізвище:</p>
                <input type="text">
            </div>
        </div>
        <div class="email-phone">
            <div class="email">
                <p>E-mail:</p>
                <input type="email">
            </div>
            <div class="phone">
                <p>Номер телефону</p>
                <input type="tel">
            </div>
        </div>
        <div class="your-mind">
            <p>Ваше повідомлення</p>
            <input type="text">
        </div>
        <div class="fifth-slide__btn-wrapper">
            <input type="submit" value="Відправити">
        </div>
    </form>
</div>