<div class="main fifth-slide" style="background-image: url(./assets/img/background3.png)">
    <div id=scene_5 style="background-color: #1E2329">
        <div data-depth="0.1" class="main--paralax" style="background-image: url(./assets/img/background3.png)"></div>
    </div>
    <div class="main__wrapper main__wrapper--fourth-slide">
        <div class="main__left-side">
            <div class="text__wrapper">
                <div class="main__text">
                    <h2>Консультація онлайн</h2>
                </div>
                <div class="btn-wrapper">
                    <div class="main__btn">
                        <a href="#">Онлайн консультація</a>
                    </div>
                    <div class="main__btn">
                        <a href="#">Зареєструватися онлайн</a>
                    </div>
                </div>
            </div>

            <div class="contacts">
                <div class="telepfone">
                    <div class="icon">
                        <i class="fas fa-phone fa-2x"></i>
                    </div>
                    <div>
                        <p>Vib/тел:</p>
                        <a href="viber://chat?number=0509257291">0-50-9257291</a>
                        <a href="tel:+380954510505">095-451-05-05.</a>
                    </div>
                </div>
                <div class="map-link">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <div><a href="https://goo.gl/maps/sQAy238J5KrwQkTF8">М. Ужгород , вул., Новака 24.</a></div>
                </div>

            </div>


            <div class="contacts">
                <div class="telepfone telepfone--inline">
                    <div class="icon">
                        <i class="fas fa-phone fa-2x"></i>
                    </div>
                    <div class="telepfone-wrapper">
                        <p>Vib/тел:</p>
                        <a href="viber://chat?number=0509257291">0-50-9257291</a>
                        <a href="tel:+380954510505">095-451-05-05.</a>
                    </div>
                </div>
            </div>


            <div class="main-arrow">
                <div class="main-arrow__item main-arrow__left" data-arrow="prev">
                    <div class="arrow-styled">
                        <a href="#"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <p>Контакти</p>
                </div>
                <div class="main-arrow__item main-arrow__right" data-arrow="next">
                    <p>Інформація для клієнтів</p>
                    <div class="arrow-styled">
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="fifth-slide__right-side">
            <h4>Заповніть особисті дані, щоб отримати консультацію</h4>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <form>
                <div class="name-lastname">
                    <div class="name">
                        <p>Ім'я:</p>
                        <input type="text">
                    </div>
                    <div class="lastname">
                        <p>Прізвище:</p>
                        <input type="text">
                    </div>
                </div>
                <div class="email-phone">
                    <div class="email">
                        <p>E-mail:</p>
                        <input type="email">
                    </div>
                    <div class="phone">
                        <p>Номер телефону</p>
                        <input type="tel">
                    </div>
                </div>
                <div class="your-mind">
                    <p>Ваше повідомлення</p>
                    <input type="text">
                </div>
                <div class="fifth-slide__btn-wrapper">
                    <input type="submit" value="Відправити">
                </div>
            </form>
        </div>

    </div>
</div>