<div class="first-slide__right-side">
    <div class="first-slide__carusel">
        <div class="first-slide__item">
            <h6>Причини порушення прикусу і викривлення зубів</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Зменшення розміру щелеп в кожного наступного покоління в наслідок інволюції людини</li>
                    <li>Порушення носового дихання</li>
                    <li>Звичка тримати рот відкритим</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
        <div class="first-slide__item">
            <h6>Порушення росту обличчя та щелеп</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Криві молочні та постійні зуби</li>
                    <li>Порушення прорізування і недолік місця для зубів</li>
                    <li>Видно ясна при посмішці</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
        <div class="first-slide__item">
            <h6>Причини порушення прикусу і викривлення зубів</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Зменшення розміру щелеп в кожного наступного покоління в наслідок інволюції людини</li>
                    <li>Порушення носового дихання</li>
                    <li>Звичка тримати рот відкритим</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
        <div class="first-slide__item">
            <h6>Порушення росту обличчя та щелеп</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Криві молочні та постійні зуби</li>
                    <li>Порушення прорізування і недолік місця для зубів</li>
                    <li>Видно ясна при посмішці</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
        <div class="first-slide__item">
            <h6>Порушення росту обличчя та щелеп</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Криві молочні та постійні зуби</li>
                    <li>Порушення прорізування і недолік місця для зубів</li>
                    <li>Видно ясна при посмішці</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
        <div class="first-slide__item">
            <h6>Порушення росту обличчя та щелеп</h6>
            <div class="line-wrapper">
                <div class="line--grey"></div>
                <div class="line--pink"></div>
                <div class="line--grey"></div>
            </div>
            <div class="content__wrapper">
                <ul>
                    <li>Криві молочні та постійні зуби</li>
                    <li>Порушення прорізування і недолік місця для зубів</li>
                    <li>Видно ясна при посмішці</li>
                </ul>
                <a href="#">Дізнатися більше</a>
            </div>

        </div>
    </div>

    <div class="firs-slider__arrows galary__arrows--styled">
        <div class="firs-slider__prev-arrow">
            <a href="#">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="firs-slider__dots">
        </div>
        <div class="slick-next firs-slider__next-arrow">
            <a href="#">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>


</div>