<div class="main" style="background-image: url(./assets/img/background.png)">
    <div id=scene style="background-color: #1E2329">
        <div data-depth="0.1" class="main--paralax" style="background-image: url(./assets/img/background.png)"></div>
    </div>
    <div class="main__wrapper">
        <div class="main__left-side">
            <div class="text__wrapper">
                <div class="main__text">
                    <h2>orthodontics</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div class="btn-wrapper">
                    <div class="main__btn">
                        <a href="#">Онлайн консультація</a>
                    </div>
                    <div class="main__btn">
                        <a href="#">Зареєструватися онлайн</a>
                    </div>
                </div>
            </div>

            <div class="contacts">
                <div class="telepfone">
                    <div class="icon">
                        <i class="fas fa-phone fa-2x"></i>
                    </div>
                    <div>
                        <p>Vib/тел:</p>
                        <a href="viber://chat?number=0509257291">0-50-9257291</a>
                        <a href="tel:+380954510505">095-451-05-05.</a>
                    </div>
                </div>
                <div class="map-link">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <div><a href="https://goo.gl/maps/sQAy238J5KrwQkTF8">М. Ужгород , вул., Новака 24.</a></div>
                </div>

            </div>


            <div class="contacts">
                <div class="telepfone telepfone--inline">
                    <div class="icon">
                        <i class="fas fa-phone fa-2x"></i>
                    </div>
                    <div class="telepfone-wrapper">
                        <p>Vib/тел:</p>
                        <a href="viber://chat?number=0509257291">0-50-9257291</a>
                        <a href="tel:+380954510505">095-451-05-05.</a>
                    </div>
                </div>
            </div>


            <div class="main-arrow">
                <div class="main-arrow__item main-arrow__left" data-arrow="prev">
                    <div class="arrow-styled">
                        <a href="#"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <p>Інформація для пацієнтів</p>
                </div>
                <div class="main-arrow__item main-arrow__right" data-arrow="next">
                    <p>Про нас</p>
                    <div class="arrow-styled">
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="main__right-side">
            <img src="./assets/img/main-photo.png" alt="main-photo">
        </div>

    </div>
</div>