<div class="contacts">
    <div class="telepfone">
        <div class="icon">
            <i class="fas fa-phone fa-2x"></i>
        </div>
        <div>
            <p>Vib/тел:</p>
            <a href="viber://chat?number=0509257291">0-50-9257291</a>
            <a href="tel:+380954510505">095-451-05-05.</a>
        </div>
    </div>
    <div class="map-link">
        <i class="fas fa-map-marker-alt fa-2x"></i>
        <div><a href="https://goo.gl/maps/sQAy238J5KrwQkTF8">М. Ужгород , вул., Новака 24.</a></div>
    </div>

</div>