<div class="work-item" data-mark=5 data-tab=best-in-print-media data-popupId=>
    <h5>Робота №1</h5>
    <div class="work-item__mark">
        <p>Оцінка</p>
        <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
    </div>
    <div class="description">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="img-and-btn">
        <img src="assets/img/our-work-item.png" alt="our-work-item" />
    </div>
    <a href="#">Відкрити роботу</a>
</div>