<section class="about-competition-wrapper" style="background-image: url(assets/img/about-competition-bg.png)">
    <div class="about-competition">
        <h2>Про конкурс</h2>

        <div class="line"></div>

        <div class="about-competition__text">
            <p>Всеукраїнський конкурс на кращу публікацію в аудіовізуальних (електронних), друкованих засобах масової інформації, теле- і радіопередачу про НАТО та державну політику у сфері євроатлантичної інтеграції проводиться з метою:</p>
            <ul>
                <li>Збільшення уваги та фахового підходу засобів масової інформації до висвітлення тематики про НАТО та державну політику у сфері євроатлантичної інтеграції;</li>
                <li>Підвищення поінформованості населення про НАТО та державну політику у сфері євроатлантичної інтеграції;</li>
                <li>Зростання зацікавленості громадськості та неурядових організацій до питань невійськової співпраці з НАТО;</li>
                <li>Поглиблення знань про політику НАТО в українському суспільстві;</li>
                <li>Підвищення рівня свідомої підтримки співробітництва України з НАТО серед громадян України, як результат висвітлення тематики у ЗМІ.</li>
            </ul>
            <p>На здобуття перемоги можуть бути висунуті роботи окремих осіб і творчих колективів, редакцій, спілок, ЗМІ тощо.</p>
            <p>Переможці визначаються серед усіх робіт, що подались на конкурс з дотриманням положення про конкурс у наступних номінаціях:</p>
            <ul>
                <li>За кращу публікацію у регіональних друкованих засобах масової інформації;</li>
                <li>За кращу публікацію у електронних засобах масової інформації;</li>
                <li>За кращий аудіо твір тривалістю 3 і більше хвилин, що виходив в ефірі регіональних мовників;</li>
                <li>За кращий аудіовізуальний твір тривалістю 3 і більше хвилин, що виходив в ефірі регіональних мовників;</li>
                <li>За кращий сюжет у інформаційному та/або новинному блоці (аудіо-аудіовізуальний твір) тривалістю від 0,5 хвилини до 3 хвилин, що виходив в ефірі регіональних мовників.</li>
            </ul>
        </div>
    </div>
</section>