<header class="header--show header--overflow-hidden">

    <div class="logo__wrapper">
        <a href="/"> <img src='assets/img/logo.png' alt='logo' class="logo"></img></a>
    </div>

    <nav>
        <div class="burger">
            <div></div>
        </div>
        <ul class=''>
            <li><a href="#" class="about-competition-btn">Про конкурс</a></li>
            <li><a href="#" class="competition-purpose-btn">Положення</a></li>
            <li><a href="#" class="our-work-btn">Роботи</a></li>
            <li><a href="#" class="our-jury-btn">Члени журі</a></li>
            <li><a href="#" class="participate-btn">Взяти участь</a></li>
        </ul>
    </nav>


    <div class="header-btn">
        <a href="/log-in" class="header-btn__log-in">Вхід</a>
    </div>

</header>