<section class="intro-slider">

    <div class="intro-slider__text" style="background-image: url(assets/img/intro-bg.png)">
        <h1><strong>ua</strong> nato</h1>
        <p> Всеукраїнський конкурс на кращу публікацію в аудіовізуальних (електронних), друкованих засобах масової інформації, теле- і радіопередачу про НАТО </p>
        <button class="slider-btn__prev-arrow"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button class="slider-btn__next-arrow"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>

    <div class="intro-slider__text" style="background-image: url(assets/img/intro-bg.png)">
        <h1><strong>ua</strong> nato</h1>
        <p> Всеукраїнський конкурс на кращу публікацію в аудіовізуальних (електронних), друкованих засобах масової інформації, теле- і радіопередачу про НАТО </p>
        <button class="slider-btn__prev-arrow"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button class="slider-btn__next-arrow"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>

    <div class="intro-slider__text" style="background-image: url(assets/img/intro-bg.png)">
        <h1><strong>ua</strong> nato</h1>
        <p> Всеукраїнський конкурс на кращу публікацію в аудіовізуальних (електронних), друкованих засобах масової інформації, теле- і радіопередачу про НАТО </p>
        <button class="slider-btn__prev-arrow"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button class="slider-btn__next-arrow"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>



</section>