<section class="our-works">
    <h2>Роботи</h2>

    <div class="line"></div>

    <p>Оберіть номінацію</p>
    <div class="our-works__btns-wrapper">
        <div class="our-works__btns">
            <div class="tabs__wrapper"><a href="#" data-tab="best-in-print-media">Краща публікація у регіональних друкованих ЗМІ</a></div>
            <div class="tabs__wrapper"><a href="#" data-tab="best-in-electronic-media">Краща публікація у електронних ЗМІ</a></div>
            <div class="tabs__wrapper"><a href="#" data-tab="best-audio">Кращий аудіо твір</a></div>
            <div class="tabs__wrapper"><a href="#" data-tab="best-story">Кращий сюжет у інформаційному та/або новинному блоці</a></div>
            <div class="tabs__wrapper"><a href="#" data-tab="best-audiovisual-work">Кращий аудіовізуальний твір</a></div>
        </div>
    </div>
    <div class="our-works__example">

        <div class="work-item" data-mark=5 data-tab=best-in-print-media data-popupId=>
            <h5>Робота №1</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=best-in-electronic-media data-popupId=>
            <h5>Робота №2</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">

            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=3 data-tab=best-audio data-popupId=>
            <h5>Робота №3</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=2 data-tab=best-story data-popupId=>
            <h5>Робота №4</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=1 data-tab=best-audiovisual-work data-popupId=>
            <h5>Робота №5</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=2 data-tab=data-popupId=>
            <h5>Робота №6</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=3 data-tab=data-popupId=>
            <h5>Робота №7</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №8</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=5 data-tab=data-popupId=>
            <h5>Робота №9</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=5 data-tab=data-popupId=>
            <h5>Робота №10</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №11</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №12</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №13</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №14</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №15</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №16</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №17</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №18</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>


        <div class="work-item" data-mark=4 data-tab=data-popupId=>
            <h5>Робота №19</h5>
            <div class="work-item__mark">
                <p>Оцінка</p>
                <div class="work-item__stars"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            </div>
            <div class="description">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="img-and-btn">
                <img src="assets/img/our-work-item.png" alt="our-work-item" />
            </div>
            <a href="#">Відкрити роботу</a>
        </div>

    </div>
    <div class="show-more">
        <a href="#">Більше робіт</a> <i class="fas fa-chevron-down"></i>
    </div>
</section>