<div class='participate'>
    <div class="participate__popup">

        <div class="close-popup-btn"> <i class="far fa-times-circle fa-2x"></i> </div>



        <div class="participate__text-wrapper">
            <h6>Участь в конкурсі</h6>

            <div class="line"></div>

            <p>Роботи для участі в конкурсі подаються виключно в відповідності до положення про проведення конкурсу.</p>
            <p>Поставити запитання, проконсультуватись та подати роботу для участі в конкурсі можна за електронною адресою</p>
            <a href="mailto:Nato.konkurs2019@gmail.com">Nato.konkurs2019@gmail.com</a>
            <p>Роботи приймаються до 23:59 15.07.2019</p>
        </div>
    </div>
</div>