<div class='popup__rate-the-article' id="">
    <div class="rate-the-article">

        <div class="close-popup-btn"> <i class="far fa-times-circle fa-2x"></i> </div>



        <h3>Робота №3</h3>
        <div class="rate-the-article__inner">
            <div class="rate-the-article__text-and-img">
                <img src="./assets/img/popup-work-example.png" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>


            <div class="rate-the-article__rate rate-the-article__rate--simple-user">

                <h6> Оцінити статтю </h6>
                <div class='rate-item_stars'>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <ul>
                    <li>
                        <div class='rate-item__wrapper'>
                            <div class='rate-item__inner'>
                                <p>1) Охоплення:</p>
                                <div class='rate-item_stars'>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                            <p>Скільки користувачів бачили та або чули твір</p>
                        </div>
                    </li>
                    <li>
                        <div class='rate-item__wrapper'>
                            <div class='rate-item__inner'>
                                <p>2) Відповідність стандартам журналістики:</p>
                                <div class='rate-item_stars'>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class='rate-item__wrapper'>
                            <div class='rate-item__inner'>
                                <p>3) Відповідність меті, умовам та завданням конкурсу:</p>
                                <div class='rate-item_stars'>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class='rate-item__wrapper'>
                            <div class='rate-item__inner'>
                                <p>4) Точність і достовірність фактів та кількісних та числових показників:</p>
                                <div class='rate-item_stars'>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class='rate-item__wrapper'>
                            <div class='rate-item__inner'>
                                <p>5) Загальне враження від твору:</p>
                                <div class='rate-item_stars'>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#">Голосувати</a>
            </div>
        </div>
    </div>
</div>